body {
    background-color: #d1f3e7;
  }
  
  #title-Tag-Line {
    font-size: 20px;
  }
  /* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } */
  
  /* form animation starts */
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #0e3721;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  
  
  .email {
    background-color: #ebebeb;
    height: 2em;
  }
  
  .email:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

/* #initialScreen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
} */
#board{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

td{
                
    font-size: 40px;
    display: table-cell;
    vertical-align: middle;
    background-color: #ba7a37;
    width: 55px;
    height: 55px;
    text-align: center;
}
.circle:before {
    content: ' \25CF';
    font-size: 45px;
}




#gameScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}


.mobile {
    display: none;
}

.desktop {
    margin: 0;
    width: 100%;
}

.white-turn-text {
    text-align: center;
    color: black;
    font-family: "open sans";
    font-size: 55px;
}

.black-turn-text {
    text-align: center;
    font-family: "open sans";
    font-size: 55px;
    color: lightgray;
}

#divider{
    font-size: 55px;
    margin-left: 15px;
    margin-right: 15px;
}

.lightsquare{
    background-color: #f0d2b4;
}

.notations_hor{
    background-color: transparent;
    text-align: center;
    width: 55px;
    height: 10px;
    font-size: smaller;
}

div {
    display: flex;
    justify-content: space-between;
}

.black-piece{
    display: inline;
    cursor: pointer;
}

.white-piece{
    display: inline;
    cursor: pointer;
}



.notations_ver{
    background-color: transparent;
    text-align: center;
    width: 0px;
    height: 55px;
    font-size: smaller;
}
.notations_cornor{
    background-color: transparent;
    text-align: center;
    width: 0px;
    height: 0px;
    font-size: smaller;
}

@media screen and (max-width: 560px) {
    .white-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    .black-piece {
        height: 4.5vw;
        width: 4.5vw;
    }

    td {
        width: 12vw;
        height: 12vw;
    }

    .red-turn-text {
        font-size: 40px;
    }
    
    .black-turn-text {
        font-size: 40px;
    }

    table {
        margin: 0;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .red-turn-text {
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -o-transform:rotate(-180deg);
        transform:rotate(-180deg);
        filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);    
    }
}

@media screen and (max-width: 380px) {
    .white-piece {
        height: 3vw;
        width: 3vw;
    }

    .black-piece {
        height: 3vw;
        width: 3vw;
    }
}
